
    <div class="edit-modal-bg modal-close">
      <%= link_to(new_user_session_path) do %><h1><i class="fas fa-arrow-circle-left"></i>もどる</h1><% end %>
    </div>
    <div class="edit-modal-content">
      <%= render "/dictionaries/new" %>
    </div>
