
    <div class="edit-modal-bg modal-close">
      <h1><i class="fas fa-times-circle"></i></h1>
    </div>
    <div class="edit-modal-content">
      <%= render "/dictionaries/new" %>
    </div>
